<style>
  .back {
    position: relative;
    ;
    width: 100%;
    z-index: -1;
  }

  .poster {
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    height: 190px;
    z-index: 1;
  }

  .nombre {
    position: absolute;
    margin-left: 150px;
    margin-top: 50px;
    z-index: 0;
    color: white;
    font-size: xx-large;
    background: rgba(0, 0, 0, 0.5);
    line-height: 90%;
  }

  .logo {
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .overview {
    position: absolute;
    margin-top: 100px;
    margin-left: 150px;
    color: white;
    font-size: small;
  }
  
  .rating{
    display: flex;
    transform: rotateY(180deg);
  }
  .rating input{
    display:none
  }
  .rating label{
    display: block;
    cursor: pointer;
    width: 60px;
  }
  .rating label:before{
    content: '\f005';
    font-family: fontAwesome;
    display: block;
    font-size: 30px;
    color: rgb(180, 180, 180);
  }
  .rating label:after{
    display: block;
    content: '\f005';
    font-family: fontAwesome;
    display: block;
    font-size: 30px;
    color: rgb(255, 195, 0);
    position: relative;
    top: -45px;
    opacity: 0;
    transition: 0.5s;
  }

  .rating label:hover:after,
  .rating label:hover ~ label:after,
  .rating input:checked ~ label:after{
    opacity: 1;
  }
</style>

<div class="row text-center">
  <img src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" class="back">
  <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="poster">
  <p class="nombre col-7 col-sm-7 col-md-8 col-lg-10">{{movie.title}}</p>

  <p class="text-justify mx-5 my-3">{{movie.overview}}</p>

  <table class="table">
    <tbody>
      <tr>
        <th scope="row" class="align-middle">Genres</th>

        <td>
          <p *ngFor="let genre of movie.genres">{{genre.name}}</p>
        </td>
      </tr>
      <tr>
        <th scope="row" class="align-middle">Original Language</th>
        <td>{{movie.original_language}}</td>
      </tr>
      <tr>
        <th scope="row">Production Companies</th>
        <td>
          <img *ngFor="let production of movie.production_companies"
            src="https://image.tmdb.org/t/p/w500{{production.logo_path}}" class="logo">
        </td>
      </tr>
      <tr>
        <th scope="row" class="align-middle">Country</th>
        <td>{{movie.production_countries[0].name}}</td>
      </tr>
      <tr>
        <th scope="row" class="align-middle">Release Date</th>
        <td>{{movie.release_date}}</td>
      </tr>
      <tr>
        <th scope="row" class="align-middle">Rating</th>
        <td>{{movie.vote_average}} / 10</td>
      </tr>
    </tbody>
  </table>

</div>

<div class="text-center">
  <div class="rating">
    <input type="radio" name="star" value="1" id="star1" class="star"><label for="star1"></label>
    <input type="radio" name="star" value="2" id="star2" class="star"><label for="star2"></label>
    <input type="radio" name="star" value="3" id="star3" class="star"><label for="star3"></label>
    <input type="radio" name="star" value="4" id="star4" class="star"><label for="star4"></label>
    <input type="radio" name="star" value="5" id="star5" class="star"><label for="star5"></label>
  </div>
</div>
<div class="text-center">
  <button class="btn btn-dark" (click)=rateMovie()>Rate Movie</button>
</div>

<div class="row row-cols-1 row-cols-md-2">
  <h3 class="ml-3">Recommendations</h3>

  <div class="col mb-4" *ngFor="let recommendation of recommendations">
    <div class="card" [routerLink]="['../../details',recommendation.id]" (click)=reloadPage()>
      <img src="https://image.tmdb.org/t/p/w500{{recommendation.backdrop_path}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{recommendation.title}}</h5>
        <p class="card-text">{{recommendation.overview}}</p>
      </div>
    </div>
  </div>
</div>
