<style>
    .back{
        position: relative;;
        width:100%;
        z-index: -1;
    }

    .poster
    {
        position: absolute;
        margin-top: 15px;
        margin-left: 10px;
        height:190px;
        z-index: 1;
    }
    .nombre{
        position: absolute;
        width: 200px;
        margin-left: 145px;
        margin-top: 90px;
        z-index: 0;
        color: white;
        font-size: x-large;
        background: rgba(0, 0, 0, 0.4);
    }
    button{
        border: none;
    }
</style>



<div *ngFor="let movie of movies; index as i" class="row text-center" id="scroll" >       
    <img src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" class="back">
    <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="poster">
    <button [routerLink]="['details',movie.id]"  class="nombre col-12">{{movie.title}}</button>
</div>